<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ZadanieBaseLinker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <ZadanieBaseLinker.Properties.Settings>
            <setting name="Token" serializeAs="String">
                <value>3003450-3015476-GIPEUBPW44YHLE867EOX0GB19HNKH7X1VJ2QQ07JU9MUS53AXBGNVIZYSGFHT83T</value>
            </setting>
        </ZadanieBaseLinker.Properties.Settings>
    </applicationSettings>
</configuration>