<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="logFileError" xsi:type="File" fileName="${basedir}/logs/log-error-${shortdate}.txt" />
    <target name="logFileInfo" xsi:type="File" fileName="${basedir}/logs/log-info-${shortdate}.txt" />
    <target name="logConsole" xsi:type="Console" layout="${date:format=HH\:MM\:ss} ${logger} : ${message}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Error" writeTo="logConsole" />
    <logger name="*" minlevel="Info" writeTo="logConsole" />
  </rules>
</nlog>